/node_modules
/cloud-note
/public/hot
/public/storage
/storage/*.key
/storage/userImageLibrary/
/storage/fileToFile/
/storage/userLibrary/*
/storage/noteFile/
/vendor
/nuxt3/ssl/*.pem
/docker/mysql/db/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dist/
cloud-note/
.env.testing
*.swp
!.gitkeep
