html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  color: #EEEEEE;
}

.g-up-down-center {
  display: flex;
  align-items: center;
}
.g-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  > .splitpanes__splitter {
    min-width: 0px !important;
  }

  .note {
    .splitpanes__splitter {
      min-width: 2px !important;
      cursor: col-resize;
      background-color: $color-border;
    }
  }

  .fuzzy-search {
    .splitpanes__splitter {
      min-width: 2px !important;
      cursor: col-resize;
      background-color: $color-border;
    }
  }
}

.g-pointer {
  cursor : pointer;
}

.v-icon {
  color: #EEEEEE !important;
}

input[type="text"] {
  width: 100%;
  padding : 5px;
  color: $color-text-primary;
  border: 1px solid $color-border;
  &:focus-visible {
    outline : none;
  }
}

input[type="text"]:disabled {
  opacity: 0.4;
}

textarea {
  width: 100%;
  border: 1px solid $color-border;
  color: $color-text-primary;
  padding : 5px;
}
