html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  color: #EEEEEE;
}

.g-up-down-center {
  display: flex;
  align-items: center;
}
.g-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  > .splitpanes__splitter {
    min-width: 0px !important;
  }

  .note {
    .splitpanes__splitter {
      min-width: 2px !important;
      cursor: col-resize;
      background-color:#363636;
    }
  }

  .fuzzy-search {
    .splitpanes__splitter {
      min-width: 2px !important;
      cursor: col-resize;
      background-color:#555555;
    }
  }
}

.g-pointer {
  cursor : pointer;
}

.v-icon {
  color: #EEEEEE !important;
}

input[type="text"] {
  width: 100%;
  padding : 5px;
  color: #EEEEEE;
  border: 1px solid #555555;
  &:focus-visible {
    outline : none;
  }
}

input[type="text"]:disabled {
  opacity: 0.4;
}

textarea {
  width: 100%;
  border: 1px solid #555555;
  color: #EEEEEE;
  padding : 5px;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(191, 191, 191);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(91, 91, 91);
}

/*スクロールバー全体*/
.thin-scroll-bar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
  
/*スクロールバーの軌道*/
.thin-scroll-bar::-webkit-scrollbar-track {
  border-radius: 0px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}
  
/*スクロールバーの動く部分*/
.thin-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 0px;
  box-shadow:0 0 0 1px rgba(0, 0, 0, 0);
}
