.g-markdown-area {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
  height: 100%;
  font-size:14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 18px;
  text-align: left;
  color:#ffffff;
  overflow: auto;
  white-space : pre;
  h1 {
    width: 100%;
    font-size:25px;
    margin:0px;
    padding:3px;
  }

  h2 {
    font-size:20px;
    margin:0px;
    border-left: 6px solid #ccc;
    padding: .25em 0 .25em .75em;
    background-color: #2E2E2E;
  }

  h3 {
    font-size:18px;
    margin:0px;
    border-left: 4px solid #ccc;
    padding: .25em 0 .25em .75em;
    border-bottom: 2px solid #2E2E2E;
  }

  h4 {
    font-size:14px;
    margin:0px;
    border-left: 2px solid #ccc;
    padding: .25em 0 .25em .75em;
  }

  a {
    color: #428bca;
    text-decoration: none;

    &:hover {
      color: #2a6496;
      text-decoration: underline;
    }
  }

  table {
  padding: 5px;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
  }

  table th {
  padding: 5px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #2C7CFF;
  }

  table td {
  padding: 5px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  }

  p {
    margin-bottom:0px;
  }

  ul {
    white-space : normal;
    list-style-type: disc;
    margin-left: 3em;
  }

  ul ul {
    list-style-type: circle;
  }

  ul li {
    margin: 0.5em 0;
    white-space : pre;
  }

  ul ul li {
    margin: 0.25em 0;
  }

  ol {
    white-space : normal;
    list-style-type: decimal;
    margin-left: 3em;
  }

  ol li {
    margin: 0.5em 0;
  }

  pre {
    font-family: 'Lucida Console', monospace;
    margin:10px;
    padding: 8px;
    font-size:14px;
    background-color: #121212;
    border-radius:10px;
    overflow: auto;
  }

  .toc {
    border-top: solid 1px #888888;
    border-bottom: solid 1px #888888;
    ul {
      color: #777777;
      list-style: none;
      padding : 10px;
      .head_content_1 {
        margin-left: 0px;
      }
      .head_content_2 {
        margin-left: 15px;
      }
      .head_content_3 {
        margin-left: 30px;
      }
      .head_content_4 {
        margin-left: 45px;
      }
      .head_content_5 {
        margin-left: 60px;
      }
      .head_content_6 {
        margin-left: 75px;
      }
      li:hover {
        text-decoration: underline;
      }
    }
  }
}
