.g-markdown-print {
  .g-markdown-area {
    color: #000000;
    background-color: #ffffff;

    h2 {
       background-color: #eee;
    }

    h3 {
      border-bottom: 2px solid #eee;
    }

    .toc {
      ul {
        color: #000000;
      }
    }

  }
}
