$color-primary: #222;
$color-primary-dark: #151515;  //メインカラーの濃いバージョン
$color-primary-light: #333; //メインカラーの薄いバージョン

$color-hover: #666666;
$color-select: #666666;

$color-border: #444444;

$color-warning: #e5c76f;
$color-error: #f18787;

$color-overlay: rgba(15, 15, 15, 0.8);

$color-text-primary: #EEEEEE;
$color-text-primary-dark: #a5a5a5;

$color-button-primary: #1867C0;
$color-button-secondary: transparent;

$input-radio-color: #1867C0;
$input-checkbox-color: #1867C0;
